@import url(http://fonts.googleapis.com/css?family=Lato:100);
@topbar-background: linear-gradient(to right, #999999, transparent);
@topbar-link-color: transparent;

//#mitch{
  //border: 2px solid white;
  //border-radius: 5px;
  //box-shadow: 0px 0px 15px black;
  //float: left;
//}

.front{
  //background-image: url('/media/zim2.png');
  width: 250px;
  height: 250px;
  border: 2px solid white;
  border-radius: 5px;
  box-shadow: 0px 0px 15px white;
  float: left;
}

.back{
  background: transparent;
  width: 250px;
  height: 250px;
}

#lauren{
  border: 2px solid white;
  border-radius: 5px;
  box-shadow: 0px 0px 15px white;
  float: right;
}

#m{
  text-shadow: 0px 1px 5px black;
  color: white !important;
  float: left;

}

#l{
  text-shadow: 0px 1px 5px black;
  color: white !important;
  float: right;
}

.hidden{
  display: none;
  background: transparent;
}

#mitch:hover{
  box-shadow: 0px 0px 15px black;
}

#lauren:hover{
  box-shadow: 0px 0px 15px black;
}

i{
  color: white;
  margin: 4px;
}

.links{
  background: transparent !important;
  text-shadow: 0px 0px 5px grey;
}

.links:hover{
  background: transparent !important;
  text-shadow: 0px 0px 5px black;
}

.links:active{
  background: transparent !important;
  text-shadow: 0px 0px 5px white;
}

//#home{
  //text-shadow: 0px 0px 5px black;
//}


a{
  text-shadow: 0px 0px 5px black;
  color: white !important;
  background: linear-gradient(#a1a1a1, grey) !important;
  font-family: 'Lato', sans-serif !important;
}

a:hover{
  text-shadow: 0px 0px 5px white;
}

a:active{
  color: black !important;
  text-shadow: 0px 0px 5px black;
  background: linear-gradient(grey, #a1a1a1) !important;
}

.search, .quiz{
  //background: linear-gradient(to right, lightgrey, grey) !important;
  background: grey !important;
  font-family: 'Lato', sans-serif;
  padding: 3px !important;
}
.search:active{
  background: linear-gradient(grey, #a1a1a1) !important;
}

.quiz:active{
  background: linear-gradient(grey, #a1a1a1) !important;
}

.dropdown{
  box-shadow: 0px 0px 15px grey !important;
}

.top-bar{
  border: transparent;
  font-family: 'Lato', sans-serif;
  background: linear-gradient(#a1a1a1, grey) !important;
  box-shadow: 0px 0px 15px black;
}

#orbit{
  font-family: 'Lato', sans-serif;
  //text-shadow: 0px 0px 15px black;
}


#tableQuestions{
  background: linear-gradient(#A1A1A1, grey) !important;
  //background: linear-gradient(#999999, transparent);
  //background: transparent;
  display: none;
  box-shadow: 0px 0px 5px black;
  //border: 1px solid #6e6e6e;
  border: transparent;
  text-shadow: 0px 0px 5px black;
  color: white !important;
  padding-top: 50px !important;
  border-radius: 4px;
}

#container2{
  padding-top: 20px !important;
}

tr{
  //background: #6e6e6e !important;
  background: transparent !important;
}

th{
  color: white !important;
  //background: linear-gradient(#999999, #6E6E6E);
  //background: transparent !important;
}

td{
  color: white !important;
  text-shadow: 0px 0px 5px black;
}


button.tiny.radius{
  //background: linear-gradient(#0CFE94, #62D5FE);
  font-family: 'Lato', sans-serif;
  //background: linear-gradient(#62D5FE, #68BEFE);
  //background: linear-gradient(transparent, #6e6e6e);
  //border: 1px solid #FEFAF3;
  background: transparent;
  border: 1px solid lightgrey;
  border-radius: 4px;
  //box-shadow: 0px 0px 3px black;
  color: white;
  text-shadow: 0px 0px 5px black;
}
button.tiny.radius:hover{
  text-shadow: 0px 0px 5px white;
  border: 1px solid white;
}
button.tiny.radius:active{
  //background: linear-gradient(#6E6E6E, #999999);
  background: white;
  border: 1px solid white;
  color: black !important;
  text-shadow: 0px 0px 5px black;
}

input{
  background: transparent !important;
  border-radius: 4px !important;
}
input:active{
  background: transparent !important;
  border-color: black !important;
  border-radius: 4px !important;
}


body{
  background-image: url(/media/BG2.jpg);
  //background: linear-gradient(to right,#0CFE94, #62D5FE);
  //background: linear-gradient(to right, #6E6E6E, #999999);
  //background: linear-gradient(to right, #62D5FE, #68BEFE) !important;
  //background-position: center;
  font-family: 'Lato', sans-serif;
}


#ecode{
  color: white !important;
  text-shadow: 0px 0px 5px black;
  outline: none;
}
#ecode:hover{
  text-shadow: 0px 0px 5px white;
}
//#ecode:active{
  //background: linear-gradient(lightgrey, grey) !important;
//}
.tftable{
  width: 100%;
  color: black;
}

#start{
  display: none;
  float: right;
  background: linear-gradient(#a1a1a1, grey) !important;
  //background: transparent;
  //border: 1px solid grey;
  border-radius: 4px;
  font-family: 'Lato', sans-serif;
  text-shadow: 0px 0px 5px black;
  box-shadow: 0px 0px 2px black;
}
#start:hover{
  //border: 1px solid lightgrey;
  text-shadow: 0px 0px 5px white;
}

#start:active{
  background: linear-gradient(grey, #a1a1a1) !important;
  box-shadow: 0px 0px 1px black;
}


#welcome,#about{
  //background: linear-gradient(#999999, transparent);
  background: transparent;
  padding: 20px;
  margin-top: 10px;
  border: transparent;
 // box-shadow: 0px 0px 15px black;
  text-shadow: 0px 0px 15px black;
  text-align: center;
}

.list:hover{
}

#sub-header, #sub-header2, p{
  color: white !important;
  font-family: 'Lato', sans-serif;
  text-shadow: 0px 0px 10px black;
}


h1{
  color: white !important;
  font-family: 'Lato', sans-serif;
}

h2{
  color: white !important;
  font-family: 'Lato', sans-serif;
  text-align: center;
}
h3{
  color: white !important;
  font-family: 'Lato', sans-serif;
  text-align: center;
}/*
h4{
  color: white !important;
  font-family: 'Lato', sans-serif;
}

.scrollblock{
  position: relative;
  margin: 0;
  height: 600px;
  width: 1280px;
  padding: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
  color: white !important;
  text-shadow: 0px 0px 5px black;
  text-align: center;
}

//#slide1{
  //background: lightblue !important;
  //background-image: url(/media/CR3.jpg);
//}
#slide2{
  //background: lightgreen !important;
  background-image: url(/media/CR4.jpg);
}
#slide3{
  //background: lightyellow !important;
  background-image: url(/media/CR5.jpg);
}*/


