@import url(http://fonts.googleapis.com/css?family=Lato:100, 200);
.front {
  background: white;
  width: 250px;
  height: 250px;
  border: 2px solid transparent;
  border-radius: 5px;
  float: left;
}
.back {
  background: linear-gradient(#a1a1a1, #808080) !important;
  border-radius: 5px;
  width: 250px;
  height: 250px;
}
#lauren {
  border-radius: 5px;
  float: right;
}
#m {
  text-shadow: 0px 1px 5px black;
  color: white !important;
  float: left;
}
#l {
  text-shadow: 0px 1px 5px black;
  color: white !important;
  float: right;
}
.hidden {
  display: none;
  background: transparent;
}
#mitch:hover {
  box-shadow: 0px 0px 15px black;
}
#lauren:hover {
  box-shadow: 0px 0px 15px black;
}
i {
  color: white;
  margin: 4px;
}
.links {
  background: transparent !important;
  text-shadow: 0px 0px 5px grey;
}
.links:hover {
  background: transparent !important;
  text-shadow: 0px 0px 5px black;
}
.links:active {
  background: transparent !important;
  text-shadow: 0px 0px 5px white;
}
#scroll-box {
  background: white !important;
  height: 400px;
  width: 250px;
  border-radius: 5px;
  box-shadow: 0px 0px 15px black;
  display: none;
  position: fixed;
  margin-top: 20px;
}
#scroll-header {
  text-shadow: 0px 0px 10px black;
  box-shadow: 0px 7px 15px grey;
}
#scroll-contents {
  overflow: scroll;
  height: 350px;
  width: 250px;
  padding-left: 5px;
}
#search-div {
  margin-top: 20px;
  background: white !important;
  text-shadow: 0px 0px 10px black;
  height: 400px;
  width: 550px;
  border-radius: 5px;
  box-shadow: 0px 0px 15px black;
  display: none;
}
#site-links {
  background: white !important;
  text-shadow: 0px 0px 10px black;
  border-radius: 5px;
  height: 300px;
  width: 700px;
  box-shadow: 0px 0px 15px black;
  margin-left: auto;
  margin-right: auto;
  overflow: scroll;
}
#site-links-header {
  background: transparent;
  color: grey !important;
  padding: 20px;
  margin-top: 10px;
  border: transparent;
  text-shadow: 0px 0px 15px black;
  text-align: center;
}
#site-container {
  display: none;
}
#about-page {
  background: white !important;
  margin-top: 40px;
  border-radius: 5px;
  height: 300px;
  width: 700px;
  box-shadow: 0px 0px 15px black;
  margin-left: auto;
  margin-right: auto;
  display: none;
}
a {
  color: grey !important;
  background: white !important;
  font-family: 'Lato', sans-serif !important;
}
a:hover {
  color: lightblue !important;
}
a:active {
  color: white !important;
  background: lightblue !important;
}
.search,
.quiz,
.about,
.link {
  background: white !important;
  font-family: 'Lato', sans-serif;
}
.search:active {
  background: lightblue !important;
  color: white !important;
}
.quiz:active {
  background: lightblue !important;
  color: white !important;
}
.about:active {
  background: lightblue !important;
}
.link:active {
  background: lightblue !important;
  color: white !important;
}
.top-bar {
  border: transparent;
  font-family: 'Lato', sans-serif;
  background: white !important;
  box-shadow: 0px 0px 15px black;
}
#tableQuestions {
  background: white !important;
  display: none;
  box-shadow: 0px 0px 5px black;
  border: transparent;
  width: 580px;
  height: 400px;
  color: grey !important;
  border-radius: 4px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
#dov {
  background: white !important;
  display: none;
  box-shadow: 0px 0px 5px black;
  border: transparent;
  width: 580px;
  height: 400px;
  color: grey !important;
  border-radius: 4px;
  margin-left: auto;
  margin-top: 10px;
  margin-right: auto;
}
.col1 {
  width: 70%;
}
.col2 {
  width: 30%;
}
tr {
  background: transparent !important;
}
th {
  color: grey !important;
}
td {
  color: grey !important;
}
button.tiny.radius {
  font-family: 'Lato', sans-serif;
  background: transparent;
  border: 1px solid grey;
  position: relative;
  border-radius: 4px;
  color: grey;
  float: right;
  margin-top: 7px;
}
button.tiny.radius:hover {
  border: 1px solid lightblue;
  color: lightblue !important;
}
button.tiny.radius:active {
  background: lightblue !important;
  border: 1px solid lightblue;
  color: white !important;
}
input {
  background: transparent !important;
  border-radius: 4px !important;
  padding: 14px !important;
  width: 70px !important;
}
input:active {
  background: transparent !important;
  border-color: black !important;
  border-radius: 4px !important;
}
#ecode {
  color: grey !important;
  outline: none;
}
#ecode:hover {
  color: lightblue !important;
}
#ecode:active {
  background: lightblue !important;
  color: white !important;
}
.tftable {
  width: 100%;
  color: black;
}
#dropdown-quiz:hover {
  color: lightblue !important;
}
#dropdown-quiz:active {
  background: lightblue !important;
  color: white !important;
  box-shadow: 0px 0px 1px black;
}
#dropdown-quiz {
  display: none;
  background: white !important;
  text-align: center;
  width: 150px;
  float: right;
  border-radius: 4px;
  font-family: 'Lato', sans-serif;
  color: grey !important;
  box-shadow: 0px 0px 2px black;
  margin: 20px;
}
#score-wrong {
  display: none;
  background: white !important;
  box-shadow: 0px 0px 2px black;
  border-radius: 4px;
  height: 45px;
  width: 150px;
  margin-top: 20px;
  float: right;
  margin-right: 270px;
}
#score-right {
  display: none;
  background: white !important;
  box-shadow: 0px 0px 2px black;
  border-radius: 4px;
  height: 45px;
  width: 150px;
  float: left;
  margin-top: 20px;
  margin-left: 15px;
}
#right,
#wrong {
  color: grey !important;
  font-family: 'Lato', sans-serif;
  text-align: center;
  text-shadow: 0px 0px 0px white;
}
body {
  background: white;
  font-family: 'Lato', sans-serif;
}
#about {
  background: transparent;
  padding: 20px;
  margin-top: 10px;
  border: transparent;
  text-shadow: 0px 0px 15px black;
  text-align: center;
}
#sub-header,
#sub-header2,
p {
  color: white !important;
  font-family: 'Lato', sans-serif;
  text-shadow: 0px 0px 10px black;
}
h1 {
  color: white !important;
  font-family: 'Lato', sans-serif;
}
h2 {
  color: white !important;
  font-family: 'Lato', sans-serif;
  text-align: center;
}
h3 {
  color: white !important;
  font-family: 'Lato', sans-serif;
  text-align: center;
}
h4 {
  color: white !important;
}
.cb-slideshow,
.cb-slideshow:after {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
}
.cb-slideshow:after {
  content: '';
  background: transparent url(/media/pattern.png) repeat top left;
}
.cb-slideshow li span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 36s linear infinite 0s;
}
.cb-slideshow li div {
  z-index: 1000;
  position: absolute;
  bottom: 30px;
  left: 0px;
  width: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  animation: titleAnimation 36s linear infinite 0s;
}
.cb-slideshow li div h4 {
  font-family: 'Lato', sans-serif;
  font-size: 240px;
  padding: 0;
  line-height: 200px;
}
li {
  list-style: none;
}
.cb-slideshow li:nth-child(1) span {
  background: linear-gradient(#0cfe94, #62d5fe);
}
.cb-slideshow li:nth-child(2) span {
  background: linear-gradient(#0000ff, #ffd700);
  animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) span {
  background: linear-gradient(#40e0d0, #800000);
  animation-delay: 12s;
}
.cb-slideshow li:nth-child(4) span {
  background: linear-gradient(#ffff00, #ff69b4);
  animation-delay: 18s;
}
.cb-slideshow li:nth-child(5) span {
  background: linear-gradient(#4682b4, #ff0000);
  animation-delay: 24s;
}
.cb-slideshow li:nth-child(6) span {
  background: linear-gradient(#800080, #008000);
  animation-delay: 30s;
}
.cb-slideshow li:nth-child(2) div {
  animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) div {
  animation-delay: 12s;
}
.cb-slideshow li:nth-child(4) div {
  animation-delay: 18s;
}
.cb-slideshow li:nth-child(5) div {
  animation-delay: 24s;
}
.cb-slideshow li:nth-child(6) div {
  animation-delay: 30s;
}
@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes titleAnimation {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  19% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes hue {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(-360deg);
  }
}
