doctype html
//[if IE 9]><html class="lt-ie10" lang="en" > <![endif]
html(class='no-js', lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Ecode
    link(rel='stylesheet', href='/css/normalize.css')
    link(href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css', rel='stylesheet')
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/css/app.css')
    script(src='/js/vendor/modernizr.js')

body
        .nav.top-bar(data-topbar data-options='is_hover: false')
          section.top-bar-section
            ul.text-area
              li.name
                a#ecode E_Code
              li.divider
            ul.left
              li.active
                a#home Home
              li.divider
            ul.right
              li.divider
                    li.has-dropdown.full-width.not-click
                      a(href='#')#jquery Jquery
                      ul.dropdown
                        li.list
                          a(style='display: none').methods#methodsJQ Common Methods
                          a(style='display: none').search#searchJQ Search
                          a(style='display: none').quiz#quizJQ Quiz

              li.divider
                    li.has-dropdown.not-click
                      a(href='#')#html-jade HTML/Jade
                      ul.dropdown
                        li.list
                          a(style='display: none').search#searchHJ Search
                          a(style='display: none').quiz#quizHJ Quiz
              li.divider
                    li.has-dropdown.not-click
                      a(href='#')#java Javascript
                      ul.dropdown
                        li.list
                          a(style='display: none').search#searchJS Search
                          a(style='display: none').quiz#quizJS Quiz
              li.divider
                    li.has-dropdown.not-click
                      a(href='#')#css CSS
                      ul.dropdown
                        li.list
                          a(style='display: none').search#searchCSS Search
                          a(style='display: none').quiz#quizCSS Quiz
              li.divider
                    li.has-dropdown.not-click
                      a(href='#')#lodash LoDash
                      ul.dropdown
                        li.list
                          a(style='display: none').search#searchLD Search
                          a(style='display: none').quiz#quizLD Quiz
              li.divider
                    li.has-dropdown.not-click
                      a(href='#')#git git
                      ul.dropdown
                        li.list
                          a(style='display: none').search#searchG Search
                          a(style='display: none').quiz#quizG Quiz

        .panel#welcome
          h1#header Welcome To E_Code!
          #sub-header Helping You To Learn.
          #sub-header2
        .panel#about(style='display: none')
          h1 About Us
          p E_Code was created by Lauren Bower and Mitchell Hollander. 
          p We wanted to create a site that helped future developers learn how to code in a easy, less stressful manner.
          .row
            .small-6.columns
              #lauren.front
                img#bbg(src='/media/bbg.gif')
                #content1.back.hidden
                    a.links(href='https://github.com/lbowser')
                      i(class='fa fa-github-square fa-5x')
            .small-6.columns
              #mitch.front
                img#zim(src='/media/zim2.png')
                #content2.back.hidden 
                    a.links(href='https://github.com/MitchellSH')
                      i(class='fa fa-github-square fa-5x')
                    a.links(href='https://twitter.com/Mitch_Hollander')
                      i(class='fa fa-twitter-square fa-5x')
                    a.links(href='http://instagram.com/mitchell_hollander')
                      i(class='fa fa-instagram fa-5x')
                    a.links(href='https://plus.google.com/u/0/111891834390020142373/posts')
                      i(class='fa fa-google-plus-square fa-5x')
          .row
            .small-6.columns
              p#l Lauren Bower
            .small-6.columns
              p#m Mitchell Hollander




    .row
      .small-12.columns
        #container
          button.tiny#start Start Quiz

    .row
      .small-12.columns
        #container2
         #container3
           #counter
         table#tableQuestions
           col(style='width: 80%')
           col(style='width: 60%')
           tr
             th#nameQuiz
             th T or F
           tr
             td#q0
             td
               .row
                 .small-6.columns
                   input(type='text').answer0
                 .small-6.columns
                   button.tiny.radius.submit1(data-qnum=0) submit
           tr
             td#q1
             td
               .row
                 .small-6.columns
                   input(type='text').answer1
                 .small-6.columns
                   button.tiny.radius.submit2(data-qnum=1) submit
           tr
             td#q2
             td
               .row
                 .small-6.columns
                   input(type='text').answer2
                 .small-6.columns
                   button.tiny.radius.submit3(data-qnum=2) submit
           tr
             td#q3
             td
               .row
                 .small-6.columns
                   input(type='text').answer3
                 .small-6.columns
                   button.tiny.radius.submit4(data-qnum=3) submit
    
     #orbit
       ul.example-orbit-content(data-orbit)
         li(data-orbit-slide='headline-1')
           #div1
             h2 E_Code
             h3 Easy Learning!
         li(data-orbit-slide='headline-2')
           #div2
             h2 Jquery
             h3 Learn Jquery With Quizes and More!
         li(data-orbit-slide='headline-3')
           #div3
             h2 Javascript
             h3 Learn Javascript!



    //.scrollblock(style='display: block')#slide1
          //h2 Jquery Made Easy!
          //p 
    //.scrollblock(style='display: block')#slide2
          //h3 Laurens A Complete Butthead!
          //p 
    //.scrollblock(style='display: block')#slide3
          //h4 Have You Ever Had Hummus?
          //p

script(src='/js/vendor/jquery.js')
script(src='/js/vendor/jqueryUI.js')
script(src='/js/vendor/jquery.flip.min.js')
script(src='/js/vendor/foundation.min.js')
script(src='/js/vendor/lodash.js')
script(src='/js/source/main.js')

