doctype html
//[if IE 9]><html class="lt-ie10" lang="en" > <![endif]
html(class='no-js', lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Ecode
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/css/app.css')
    script(src='/js/vendor/modernizr.js')

body
    .row
      .small-12.columns
        .panel
          h1#ecode E_code
          //img(width='100px', height='100px',src='/media/11thdoctocat.png') 
          //img(width='100px', height='100px',src='/media/finn.png') 
          //img(width='100px', height='100px',src='/media/daft1.gif') 
          //img(width='100px', height='100px',src='/media/daft2.gif') 

    .row
      .small-12.columns
        ul.breadcrumbs
          li 
            a(href='#')#home Home
          li
            a(href='#')#jquery Jquery
          li
            a(href='#')#html-jade HTML/Jade
          li
            a(href='#')#css CSS
          li
            a(href='#')#lodash LoDash
          li
            a(href='#')#git git

    .row
      .small-12.columns
        #container

    //.row
      .small-12.columns
    //.row#picture
      .small-12.columns#container
        //a.button#jquery Jquery
        //a.button#html-jade Html/Jade
        //a.button#java Java
        //a.button#css CSS
        a.button#lodash LoDash
        a.button#git git
    //.row#picture2
      .small-6.columns
      .small-6.columns


    script(src='/js/vendor/jquery.js')
    script(src='/js/vendor/foundation.js')
    script(src='/js/vendor/lodash.js')
    script(src='/js/source/main.js')

